<!DOCTYPE html>
<html>
<head>
    <title>MilPayRuck</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">
        <h1>MilPayRuck</h1>

        <p>
            A military financial planning application designed to help service members estimate pay, manage budgets, and track expenses.
        </p>

        <div class="buttons">
            <a href="/register?type=military">
                <button>Get Started</button>
            </a>
        
            <a href="/login">
                <button>Login</button>
            </a>
        
           
        </div>

        <hr>

        <h2>Features</h2>

            <p>✔ Military Pay Calculator (NYC BAH Included)</p>
            <p>✔ Budget Management</p>
            <p>✔ Transaction Tracking</p>
            <p>✔ Financial Dashboard</p>
            <p>✔ User Profiles</p>
            <p>✔ Secure Authentication</p>
    </div>

</body>
</html>