<!DOCTYPE html>
<html>
<head>
    <title>MilPayRuck</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">
        <h1>MilPayRuck</h1>

        <p>
            Military Pay Calculator and Financial Planner
        </p>

        <div class="buttons">
            <button>Military User</button>
            <button>Civilian User</button>
        </div>
    </div>

</body>
</html>